/* CSS declarations go here */
#headInsertBox
{
    max-width : 500px;
	border : 1px solid;
}

#introInsertBox
{
    max-width : 500px;
    min-height: 75px;
    border : 1px solid;
}

#newsInsertBox {
    max-width : 500px;
    min-height: 300px;
	border : 1px solid;
	margin-bottom: 5px;
}

#logo {
    color: #ffffff;
}

#logo:hover {
    color: #c9c9c9;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #0795D9;
}

input[type=email], input[type=password] {
    color: red;
}